
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: 'Arial', sans-serif;
}
.container-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin-bottom: 9px;

}
.container-main img {
    height: 200px;
    padding: 10px;
}
.container-main div {
    margin-top: 9px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
section {

    background: url("https://images.posarellivillas.com/property_posarelli/96068/xwide/dsc-7788-easyhdr-vivid-colors.jpg");
}
#container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 85vmin;
    margin: 0;
}
#holder form {
    padding: 20px;
}
#holder {
    padding: 15px;
    border-radius: 9px;
    box-shadow: 0 0 1px grey;
    width: 55%;
    height: auto;
    background-color: white;
}
#Search {
    background: white;
    padding: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: baseline;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}
#Search button {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
