
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
        font-family:Roboto ;
}

.main-div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #212A3E;
        flex-wrap: wrap;
        height: 280px;
        padding: 10px;
        
        
}
.bar {
        height: 100px;
        width: 9px;
        background-color: rgb(255, 255, 255);
}
.mainback {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #394867;
        height: 80%;
        width: 90%;
        border-radius: 5px;
        text-overflow: hidden;
        font-size: 26px;
        color: white;

}
.slider {
        padding: 6px;
        display: flex;
        text-overflow: hidden;
        align-items: center;
        position: relative;
        height: 250px;
        width: 250px;
        background-color: #394867;
        border-radius: 3px;
}

.infomain {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(151, 151, 151, 0);
        height: 45vmin;
        width: 100%;
}
.news {
        
        width: 31%;
        height: auto;
        padding: 6px;
        border-left: 5px solid #146C94;
}
 .information  {

        width: 31%;
        height: auto;
        padding: 6px;
        border-left: 5px solid #F45050;
}
.login-main {

        width: 31%;
        height: auto;
        padding: 6px;
        border-left: 5px solid #394867;
}
.login-main p, .information p, .news  p {
        background-color: #394867;
        width: 100px;
        text-align: center;
        color: white;
}

.news img {
        height: 280px;
        border-radius: 9px;
}

.login-main p{
        background-color: #394867;
}
 .information p {
        background-color: #F45050;
}
.news  p {
        background-color: #146C94;
}

/* responsive */
@media only screen and (max-width: 1170px) {
        .infomain {
                display: grid;
                width: 100%;
        }
        .infomain div {
                width: 100%;
                padding: 10px;
                margin-bottom: 12px;
        }
        .login-main p, .information p, .news  p {
                background-color: #394867;
                width: 100%;
                text-align: center;
                border-radius: 6px;
                color: white;
        }
        
        .login-main {
                margin-top: -30px;
        }
        .news {
                margin-top: 30px;
        }
        .bar ,.on3{
                display: none;
        }
        .mainback{
                width: 100%;
        }
        .news img {
                height: auto;
        }
        .loginbtn {
                
                width: 100%;
        }
      }